<div class="text-center">
    <h1 class="display-4">Germán Andrés Balaguera Pinzón</h1>

    <h2>Soy un desarrollador en formación con hablidades para la solución de problemas</h2>

    <img id="foto"
         src="~/imagenes/fotoGerman.png" alt="Foto de German" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/net.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-success">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>
            He estado desarrollando software como desarrollador Junior desde Junio del 2023. He tenido el privilegio de aprender a realizar proyectos para desarrollar aplicaciones web
            todo esto trabajando principalmente aplicaciones de C#, ASP.NET, SQL Server entre otros.
        </p>
    </div>
</div>