
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por contactarme</h1>
<p>Contestaré el mensaje lo antes posible.</p>
<div><a asp-action="Index" asp-controller="Home" class=" btn btn-primary">Volver al home</a></div>